<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yuk`s Makan. Nikmati Hidangan di Restoran Favorit Anda" />
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#ff7b00"/>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Makan Skuy</title>
</head>
<body>
    <header class="app-bar">
        <div class="app-bar__menu">
          <a id="hamburgerButton" href="#" aria-label="navigation menu">☰</a>
        </div>
        <div class="app-bar__brand">
            <a href="#"><h1>Makan Skuy</h1></a>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
          <div class="skip">
            <a href="#kontent" class="skip-link">Skip konten</a>
          </div>
          <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/like">Favorite</a></li>
            <li><a href="https://www.dicoding.com/users/fozimat" target="_blank" rel="noopener">About</a></li>
          </ul>
        </nav>
      </header>



      <main id="mainContent"></main>

      <footer>
        <p>Copyright © 2020 <a href="https://www.dicoding.com" target="_blank" rel="noreferrer">Makan Skuy</a></p>
      </footer>
    </body>
</html>